<div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          VNGR-Projectpages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Regels-bij-activiteiten/">Regels bij Activiteiten</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/IMWOZ-bevragingen/">IMWOZ-Bevragingen</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/IAM/">Referentiearchitectuur voor het werken met APIs</a>
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""></a-->
        </div>
      </li>
    </ul>
</div>
