<div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://vng-realisatie.github.io/Standaarden/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Over Standaarden
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Roadmap</a>
          <a class="dropdown-item" href="">Meer informatie</a>
        </div>
    </li-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Informatiemodellen
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Informatiemodellen">Informatiemodellen</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/documenten/RSG_Basisgegevens_202_deel_1_(in_gebruik).pdf">RSGB (deel I)</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/RSG_Basisgegevens_202_deel_II_(in_gebruik).pdf">RSGB (deel II)</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/documenten/RGB_Zaken_1_0_(in_gebruik)_201000922.pdf">RGBZ</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/documenten/GEMMA_ZTC2_-_Informatiemodel_v2.1_20140701.pdf">ImZTC</a>
          <!--a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/">Informatiemodellen als onderdeel van koppelvlakbeschrijvingen</a-->
         </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          API-specificaties
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/API-standaarden">Vastgestelde API-standaarden</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/API-Community">API-community</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/API-beoordelingsaspecten">API-beoordelingsaspecten</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/API-kwaliteitscriteria">API-kwaliteitscriteria</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Beheer_API-specificatie">Beheer API-specificatie</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/gemma-zaken/">Zaakgericht Werken</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/klantinteracties/">Klantinteracties</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/gemma-verwerkingenlogging/">Verwerkingenlogging</a>           
          <a class="dropdown-item" href="https://vng-realisatie.github.io/IMWOZ-bevragingen/">IMWOZ-Bevragingen</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/ODS-Open-Raadsinformatie/">Open Raadsinformatie</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Regels-bij-activiteiten/">Regels bij Activiteiten</a>
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""></a-->
        </div>
      </li>
      <!--li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bijdragen aan API's</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Bijdragen aan API's</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Bug melden</a>
          <a class="dropdown-item" href="">Verbetervoorstel</a>
          <a class="dropdown-item" href="">Gebruikerswens</a>
       </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VNGR API Kennisbank</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Main</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Implementatieoverwegingen</a>
          <a class="dropdown-item" href="">Gitflow</a>
          <a class="dropdown-item" href="">Design Rules</a>
       </div>
    </li-->
    <li class="nav-item dropdown">
        <!--a class="nav-link" href="https://vng-realisatie.github.io/Standaarden/StUF-standaarden">StUF Standaarden</a-->
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          StUF Standaarden
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/StUF-koppelvlakken-en-sectormodellen">Koppelvlakken en sectormodellen</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Basis-en-kerngegevens">Basis- en kerngegevens</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Zaken-en-documenten">Zaken en documenten</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Dienstverleningsdomein">Dienstverleningsdomein</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Ruimtelijk-domein">Ruimtelijk domein</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Sociaal-domein">Sociaal domein</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Bedrijfsvoeringsdomein">Bedrijfsvoeringsdomein</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Gerelateerde-standaarden">Gerelateerde standaarden</a>
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""></a-->
        </div>
      </li>
    </ul>
</div>
