<div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://vng-realisatie.github.io/Standaarden/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Over Standaarden
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Roadmap</a>
          <a class="dropdown-item" href="">Meer informatie</a>
        </div>
    </li-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          VNGR API Standaarden
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/API-standaarden">Vastgestelde API-standaarden</a>
            <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/API-Community">API-community</a>
            <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/API-beoordelingsaspecten">API-beoordelingsaspecten</a>
            <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/API-kwaliteitscriteria">API-kwaliteitscriteria</a>
            <a class="dropdown-item" href="https://vng-realisatie.github.io/Standaarden/Beheer_API-specificatie">Beheer API-specificatie</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/gemma-zaken/">Zaakgericht Werken</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/klantinteracties/">Klantinteracties</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/gemma-verwerkingenlogging/">Verwerkingenlogging</a>           
          <a class="dropdown-item" href="https://vng-realisatie.github.io/IMWOZ-bevragingen/">IMWOZ-Bevragingen</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/ODS-Open-Raadsinformatie/">Open Raadsinformatie</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Regels-bij-activiteiten/">Regels bij Activiteiten</a>
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""></a-->
        </div>
      </li>
      <!--li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bijdragen aan API's</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Bijdragen aan API's</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Bug melden</a>
          <a class="dropdown-item" href="">Verbetervoorstel</a>
          <a class="dropdown-item" href="">Gebruikerswens</a>
       </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VNGR API Kennisbank</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Main</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Implementatieoverwegingen</a>
          <a class="dropdown-item" href="">Gitflow</a>
          <a class="dropdown-item" href="">Design Rules</a>
       </div>
    </li-->
      <li class="nav-item dropdown">
        <a class="nav-link" href="https://vng-realisatie.github.io/Standaarden/StUF-standaarden">StUF Standaarden</a>
        <!--a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          StUF Standaarden
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">StUF Onderlaag</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Sectormodel Basisgegevens: StUF-BG</a>
          <a class="dropdown-item" href="">RSGB Bevragingen</a>
          <a class="dropdown-item" href="">StUF BAG</a>
          <a class="dropdown-item" href="">LV Adressen en Gebouwen (LV BAG)</a>
          <a class="dropdown-item" href="">Kadastrale mutatieservices</a>
          <a class="dropdown-item" href="">Sectormodel Geo: StUF Geo IMGeo</a>
          <a class="dropdown-item" href="">Sectormodel HR: StUF-HR</a>
          <a class="dropdown-item" href="">LV Wet Kenbaarheid Publiekrechtelijke Beperkingen</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Sectormodel Zaken: StUF-ZKN</a>
          <a class="dropdown-item" href="">Sectormodel Zaaktypen(-catalogus): StUF–ZTC</a>
          <a class="dropdown-item" href="">Zaak- en Documentservices</a>
          <a class="dropdown-item" href="https://melsk-r.github.io/Documentcreatie-services/">Documentcreatieservices</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Prefill eFormulierservices</a>
          <a class="dropdown-item" href="">Sectormodel e-Formulieren: StUF-EF</a>
          <a class="dropdown-item" href="">Sectormodel WOZ: StUF-WOZ</a>
          <a class="dropdown-item" href="">StUF BAG-GBA</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Wabo-BAG services</a>
          <a class="dropdown-item" href="">Toezicht- en Handhavenservices</a>
          <a class="dropdown-item" href="">StUF-Geo BAG</a>
          <a class="dropdown-item" href="">LV Omgevingsloket</a>
          <a class="dropdown-item" href="">Sectormodel RIHa: StUF-RIHa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">StUF Jeugdzorg (CORV)</a>
          <a class="dropdown-item" href="">Regie- en zaakservices</a>
          <a class="dropdown-item" href="">StUF-GGk berichtenvelop ISD-Keten</a>
          <a class="dropdown-item" href="">Participatieladder</a>
          <a class="dropdown-item" href="">Kinderopvang</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Koppelvlak Betalen- en Invorderenservices</a>
      </div-->
      </li>
    </ul>
</div>
