body {
    font-size: 100%;
}
* {
    font-family: 'Montserrat', sans-serif;
    color: #424242;
    line-height: 1rem;
}
h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
	margin-top: 0.6rem;
    margin-bottom: 1rem;
    color: #1a237e;
}
h2 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
	margin-top: 0.6rem;
    margin-bottom: 0.4rem;
    color: #1a237e;
}
h3 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 0.2rem;
    color: #1a237e;
}
h4 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 0.2rem;
    color: #1a237e;
}
h5 {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    line-height: 1.6rem;
    margin-bottom: 0.2rem;
    color: #1a237e;
}
h6 {
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    line-height: 1.6rem;
    margin-bottom: 0.2rem;
    color: #1a237e;
}
p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}
 blockquote {
/*    background-color: #0277BD; */
    background-color: #b3e5fc;  /*Background color for the blockquote (Same as table headings) */
}
/* Nested blockquotes */
blockquote blockquote blockquote p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-left: 3rem;
    padding: 1rem;
/*    background-color: #0277BD;
    color: #ffffff;  */
    background-color: #b3e5fc;  /*Background color for the blockquote (Same as table headings) */
    color: #1a237e; /*Text color for the blockqoutes (Same as table headings) */
}
blockquote blockquote p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-left: 2rem;
    padding: 1rem;
/*    background-color: #0277BD;
    color: #ffffff;  */
    background-color: #b3e5fc;  /*Background color for the blockquote (Same as table headings) */
    color: #1a237e; /*Text color for the blockqoutes (Same as table headings) */
}
blockquote p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 1rem;
    background-color: #b3e5fc;  /*Background color for the blockquote (Same as table headings) */
    color: #1a237e; /*Text color for the blockqoutes (Same as table headings) */
}
ul, ol {
    margin: 0 0 1rem -1rem;
}
li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
}
table {
    border-collapse: collapse;
    margin-bottom: 1rem;
}
caption, th, td {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    padding: 0.2rem;
    vertical-align: top;
    border: 1px solid #b3e5fc;
    color: #1a237e;
}
th {
    font-weight: 500;
    text-align: left;
    background-color: #b3e5fc;
}
a {
    color: #1a237e;
    text-decoration: underline;
}
nav a {
  text-decoration: none;
}
.active {
   font-weight: 500;
}
strong {
    font-weight: 600;
}
em {
    font-weight: 400;
}
.product-feature {
    background-color: #FFFFFF;
    color: #03A9F4;
}
.landingpage-header {
    background-color: #03A9F4;
    color: #FFFFFF;
    padding: 20px 20px 0 20px;
    margin-bottom: 0rem;
}
.header {
    margin-top: 20px;
    color: #03A9F4;
}
.no-border {
    border: 0;
}
.vng-logo {
    display: inline-block;
    width: 89px;
    height: 61px;
    background: url(img/VNG-Realisatie.png) no-repeat center center;
    background-size: 100% auto;
    text-indent: -9999px;
}
.doel {
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    color: white;
}
.hljs-attr {
    color: #fff;
}
.highlight .hll { background-color: #ffc; }
.highlight .c { color: #888; font-weight: bold; } /* Comment */
.highlight .err { color: #a00; background-color: #fff } /* Error */
.highlight .k { color: #069; } /* Keyword */
.highlight .o { color: #555 } /* Operator */
.highlight .p { color: #333 } /* Punctuation */
.highlight .po { color: #333 } /* Parenthesis Outer */
.highlight .pi { color: #553 } /* Parenthesis Inner */
.highlight .cm { color: #09f; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #099 } /* Comment.Preproc */
.highlight .c1 { color: #999; } /* Comment.Single */
.highlight .cs { color: #999; } /* Comment.Special */
.highlight .gd { background-color: #fcc; border: 1px solid #c00 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #f00 } /* Generic.Error */
.highlight .gh { color: #030; } /* Generic.Heading */
.highlight .gi { background-color: #cfc; border: 1px solid #0c0 } /* Generic.Inserted */
.highlight .go { color: #aaa } /* Generic.Output */
.highlight .gp { color: #009; } /* Generic.Prompt */
.highlight .gs { } /* Generic.Strong */
.highlight .gu { color: #030; } /* Generic.Subheading */
.highlight .gt { color: #9c6 } /* Generic.Traceback */
.highlight .kc { color: #069; } /* Keyword.Constant */
.highlight .kd { color: #069; } /* Keyword.Declaration */
.highlight .kn { color: #069; } /* Keyword.Namespace */
.highlight .kp { color: #069 } /* Keyword.Pseudo */
.highlight .kr { color: #069; } /* Keyword.Reserved */
.highlight .kt { color: #078; } /* Keyword.Type */
.highlight .m  { color: #d50 } /* Literal.Number */
.highlight .mi { color: #f60 } /* Literal.Number */
.highlight .s  { color: #d44950 } /* Literal.String */
.highlight .s2 { color: #d44950 } /* Literal.String */
.highlight .s2 { color: #d44950 } /* Literal.String */
.highlight .na { color: #4f9fcf } /* Name.Attribute */
.highlight .nb { color: #366 } /* Name.Builtin */
.highlight .nc { color: #0a8; } /* Name.Class */
.highlight .no { color: #360 } /* Name.Constant */
.highlight .nd { color: #77c } /* Name.Decorator */
.highlight .ni { color: #999; } /* Name.Entity */
.highlight .ne { color: #c00; } /* Name.Exception */
.highlight .nf { color: #c0f } /* Name.Function */
.highlight .nl { color: #648 } /* Name.Label */
.highlight .nn { color: #0cf; } /* Name.Namespace */
.highlight .nt { color: #2f6f9f; } /* Name.Tag */
.highlight .nv { color: #033 } /* Name.Variable */
.highlight .ow { color: #000; } /* Operator.Word */
.highlight .w { color: #bbb } /* Text.Whitespace */
.highlight .mf { color: #f60 } /* Literal.Number.Float */
.highlight .mh { color: #f60 } /* Literal.Number.Hex */
.highlight .mi { color: #f60 } /* Literal.Number.Integer */
.highlight .mo { color: #f60 } /* Literal.Number.Oct */
.highlight .sb { color: #c30 } /* Literal.String.Backtick */
.highlight .sc { color: #c30 } /* Literal.String.Char */
.highlight .sd { color: #c30; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #c30 } /* Literal.String.Double */
.highlight .se { color: #c30; } /* Literal.String.Escape */
.highlight .sh { color: #c30 } /* Literal.String.Heredoc */
.highlight .si { color: #a00 } /* Literal.String.Interpol */
.highlight .sx { color: #c30 } /* Literal.String.Other */
.highlight .sr { color: #3aa } /* Literal.String.Regex */
.highlight .s1 { color: #c30 } /* Literal.String.Single */
.highlight .ss { color: #fc3 } /* Literal.String.Symbol */
.highlight .bp { color: #366 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #033 } /* Name.Variable.Class */
.highlight .vg { color: #033 } /* Name.Variable.Global */
.highlight .vi { color: #033 } /* Name.Variable.Instance */
.highlight .il { color: #f60 } /* Literal.Number.Integer.Long */
.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
/* Style text between backticks in normal text*/
 p code {
    font-family: 'Courier New', Courier, monospace; /* Specify a monospaced font */
    font-size: 0.9em; /* Set the font size */
    color: #333; /* Set the text color */
    background-color: #f4f4f4; /* Set the background color */
    padding: 0.2em 0.4em; /* Add padding around the code */
    border-radius: 3px; /* Add rounded corners */
}
/* Style blocks of code-text between triple backticks*/
pre {
    font-family: "Lucida Console", monospace; /* Specify a monospaced font */
    font-size: 1rem; /* Set the font size */
    background-color: #f4f4f4; /* Background color for the code block */
    padding: 10px; /* Padding around the code block */
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    white-space: pre-wrap; /* Preserve line breaks */
}
code {
    font-family: "Lucida Console", monospace; /* Specify a monospaced font */
    font-size: 1rem; /* Set the font size */
    background-color: #f4f4f4; /* Background color for the code block */
} 
